header.header.sticky-top.py-2
	.container
		nav#navbar.navbar.navbar-expand-md.px-0
			a.navbar-brand(href="#")
				img(src="static/images/general/Logo.png")
				span.sr-only burgers.go
			button.navbar-toggler(	type="button" 
									data-toggle="collapse"
									data-target="#mainNavbar"
									aria-controls="mainNavbar"
									aria-expanded="false"
									arai-label="Toggle navigation"
								 )
					+icon('hamburger-solid','navbar-toggler-icon ')
			#mainNavbar.collapse.navbar-collapse.align-self-end
				ul#nav-scroll.navbar-nav.ml-lg-auto.mt-3.mt-lg-0.nav
					li.nav-item.mr-md-3.mb-2.mb-md-0
						a.nav-link(href="#home" ) Home
					li.nav-item.mr-md-3.mb-2.mb-md-0
						a.nav-link(href="#burgers") Our Burgers
					li.nav-item.mr-md-3.mb-2.mb-md-0
						a.nav-link(href="#wait") What Else?
					li.nav-item.mr-md-3.mb-2.mb-md-0
						a.nav-link(href="#photos") Photos
					li.nav-item
						a.nav-link(href="#contact") Contact
